<h2 class="contact__title"> Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="formContato" >
        <input 
            type="text" 
            placeholder="Digite seu nome" 
            formControlName="nome"
            [class.valid]="formContato.controls['nome'].valid"
            [class.invalid]="formContato.controls['nome'].invalid && 
            (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)"
            >

        <div *ngif="formContato.controls['nome'].invalid && 
        (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
            
        <small class="error-message" *ngIf="formContato.controls['nome'].hasError('minlength')">
            Esse campo precisa de no minimo 4 caracteres.
        </small>
        <small class="error-message" ngIf="formContato.controls['nome'].has
        ('required')">
        Esse campo precisa ser preenchido 
    </small>

        </div>


        <input 
        type="assunto" 
        placeholder="Digite o assunto"
        FormControlName="assunto"
        [class.valid]="formContato.controls['assunto'].valid"
            [class.invalid]="formContato.controls['assunto'].invalid && 
            (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)"
        
        />
        
        <div *ngif="formContato.controls['assunto'].invalid && 
        (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)">
            
        <small class="error-message" *ngIf="formContato.controls['assunto'].hasError('minlength')">
            Esse campo precisa de no minimo 10 caracteres.
        </small>
        <small class="error-message" *ngIf="formContato.controls['assunto'].hasError('required')">
        Esse campo precisa ser preenchido 
    </small>

        </div>

        <input 
        
        type="tel" 
        placeholder="(00) 0 0000-0000" 
        mask="(00) 0 0000-0000"
       
        
        />
        
        <div *ngif="formContato.controls['nome'].invalid && 
        (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
            
        <small class="error-message" *ngIf="formContato.controls['nome'].hasError('minlength')">
            Esse campo precisa de no minimo 4 caracteres.
        </small>
        <small class="error-message" ngIf="formContato.controls['nome'].has
        ('required')">
        Esse campo precisa ser preenchido 
    </small>

        </div>
        
        <input type="email" placeholder="Digite seu email" />
        
        <div *ngif="formContato.controls['nome'].invalid && 
        (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
            
        <small class="error-message" *ngIf="formContato.controls['nome'].hasError('minlength')">
            Esse campo precisa de no minimo 4 caracteres.
        </small>
        <small class="error-message" ngIf="formContato.controls['nome'].has
        ('required')">
        Esse campo precisa ser preenchido 
    </small>

        </div>

        <textarea maxlength="300" placeholder="Digite sua mensagem...">  </textarea>
        
        <div *ngif="formContato.controls['nome'].invalid && 
        (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
            
        <small class="error-message" *ngIf="formContato.controls['nome'].hasError('minlength')">
            Esse campo precisa de no minimo 4 caracteres.
        </small>
        <small class="error-message" ngIf="formContato.controls['nome'].has
        ('required')">
        Esse campo precisa ser preenchido 
    </small>

        </div>
        
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.763196688143!2d-43.12859732501365!3d-22.885204479270374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983b8015d7ce1%3A0xdd538839ce0fe8a!2sPlaza%20Shopping%20-%20Av.%20Visconde%20do%20Rio%20Branco%2C%2018%20-%20Centro%2C%20Niter%C3%B3i%20-%20RJ%2C%2024020-005!5e0!3m2!1spt-BR!2sbr!4v1681144517853!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Av. Visconde do Rio Branco, 18 - Centro, Niterói - RJ, 24020-005</p>
    </address>
</section>